* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", san-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  background-color: rgba(255, 255, 255, 0.526);
  backdrop-filter: blur(4px);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  z-index: 2;
}
.header .mobilenav {
  position: absolute;
  background-color: #ffffff;
  top: 55px;
  right: 0;
  transform: translateX(900px);
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  align-items: center;
  width: 100vw;
  transition: transform ease-in-out 0.6s;
  z-index: -1;
}
.header .mobilenav a {
  font-size: large;
  position: relative;
  text-decoration: none;
  color: black;
  transition: font-weight 0.3s ease;
}
.header .mobilenav a::before {
  content: "";
  position: absolute;
  top: 22px;
  height: 3px;
  width: 0%;
  transition: width 0.3s ease;
  border-radius: 35px;
  background-color: black;
}
.header .mobilenav a:hover {
  font-weight: 600;
}
.header .mobilenav a:hover::before {
  width: 100%;
}
.header .mobilenav .clicked::before {
  width: 100%;
  font-weight: 600;
}
.header .mobilenav .clicked {
  font-weight: 600;
}
.header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
}
.header .navigation a {
  font-size: large;
  position: relative;
  text-decoration: none;
  color: black;
  transition: font-weight 0.3s ease;
}
.header .navigation a::before {
  content: "";
  position: absolute;
  top: 22px;
  height: 3px;
  width: 0%;
  transition: width 0.3s ease;
  border-radius: 35px;
  background-color: black;
}
.header .navigation a:hover {
  font-weight: 600;
}
.header .navigation a:hover::before {
  width: 100%;
}
.header .navigation .clicked::before {
  width: 100%;
  font-weight: 600;
}
.header .navigation .clicked {
  font-weight: 600;
}
.header .btn-signout {
  background-color: black;
  border: solid black 1px;
  padding: 10px 20px;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  transition: all ease 0.3s;
}
.header .btn-signout:hover {
  cursor: pointer;
  background-color: white;
  border: solid black 1px;
  color: black;
}
.header .humburger {
  display: none;
  flex-direction: column;
  height: 25px;
  justify-content: space-between;
}
.header .humburger .bar1,
.header .humburger .bar2,
.header .humburger .bar3 {
  width: 36px;
  height: 5px;
  background-color: #000000;
  border-radius: 20px;
}
.header .humburger:hover {
  cursor: pointer;
}

.projectsCards {
  display: flex;
  width: 100%;
  flex-direction: column;
  transform: translateY(200px);
  row-gap: 20px;
  opacity: 0;
  align-items: center;
  padding-top: 90px;
  transition: all 0.9s ease-in-out;
}
.projectsCards .add-new {
  background-color: black;
  border: solid black 1px;
  padding: 10px 20px;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  transition: all ease 0.3s;
  align-self: flex-start;
  margin-left: 60px;
  padding: 20px 30px;
  width: 200px;
}
.projectsCards .add-new:hover {
  cursor: pointer;
  background-color: white;
  border: solid black 1px;
  color: black;
}
.projectsCards .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  width: 90%;
}
.projectsCards .cards .card {
  display: flex;
  width: auto;
  flex-direction: column;
  row-gap: 18px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 20px;
  padding: 12px;
}
.projectsCards .cards .card p {
  font-size: 13px;
  font-weight: 600;
}
.projectsCards .cards .card .gitrep {
  font-size: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.projectsCards .cards .card .gitrep:hover img {
  animation: shake-top 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2 both;
}
.projectsCards .cards .card .gitrep:hover {
  text-decoration: underline;
}
.projectsCards .cards .card .gitrep:visited {
  color: unset;
}
.projectsCards .cards .card .gitrep img {
  width: 30px;
}
.projectsCards .cards .card img {
  position: relative;
  width: 100%;
  border-radius: 20px;
  align-self: center;
}
.projectsCards .cards .card .site {
  position: relative;
  text-decoration: none;
  color: black;
  height: fit-content;
  width: fit-content;
}
.projectsCards .cards .card .site p {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  border-radius: 20px;
  color: white;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 98%;
  background-color: rgba(0, 0, 0, 0.638);
  transition: all 0.7s ease-in;
}
.projectsCards .cards .card .site:hover p {
  opacity: 1;
}
.projectsCards .cards .card .stacks {
  display: flex;
  column-gap: 12px;
  align-items: center;
}
.projectsCards .cards .card .stacks .actions {
  justify-self: end;
}
.projectsCards .cards .card .stacks .actions a {
  width: 20px;
  height: 20px;
  text-decoration: none;
}
.projectsCards .cards .card .stacks .actions a svg {
  width: 25px;
  height: 25px;
}
.projectsCards .cards .card .stacks .stack {
  padding: 9px 17px;
  background-color: #eaeaea;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.577);
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: backgroud-color ease-in 0.8s;
}
.projectsCards .cards .card .stacks .stack:hover {
  background-color: #b9b8b8;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 5px;
}

.header .opendrawer {
  transform: translateY(0);
}

.animatebar1 {
  animation: flipbar1 0.3s;
  animation-fill-mode: forwards;
}

.animatebar2 {
  animation: fadebar2 0.3s;
  animation-fill-mode: forwards;
}

.animatebar3 {
  animation: flipbar3 0.3s;
  animation-fill-mode: forwards;
}

@keyframes flipbar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 10px);
  }
}
@keyframes fadebar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes flipbar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}
@keyframes shake-top {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 0;
  }
  10% {
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}
@media all and (max-width: 790px) {
  .header {
    padding: 15px 20px 15px 20px;
  }
  .header .btn-signout {
    display: none;
  }
  .header .navigation {
    display: none;
  }
  .header .humburger {
    display: flex;
    flex-direction: column;
    height: 25px;
    justify-content: space-between;
  }
  .header .humburger .bar1,
  .header .humburger .bar2,
  .header .humburger .bar3 {
    width: 36px;
    height: 5px;
    background-color: #000000;
    border-radius: 20px;
  }
  .header .humburger:hover {
    cursor: pointer;
  }
  .header .mobilenav {
    display: flex;
  }
  .header .mobilenav .btn-signout {
    display: block;
  }
  .projectsCards .cards {
    column-gap: 40px;
    row-gap: 20px;
  }
  h1 {
    font-size: 23px;
  }
}
@media all and (max-width: 718px) {
  .projectsCards .cards {
    grid-template-columns: unset;
  }
  .projectsCards .add-new {
    margin-left: 30px;
  }
}/*# sourceMappingURL=adminpro.css.map */