* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", san-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.header {
  background-color: rgba(255, 255, 255, 0.526);
  backdrop-filter: blur(4px);
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  z-index: 2;
}
.header .humburger {
  display: none;
}
.header .humburger:hover {
  cursor: pointer;
}
.header .navigation {
  display: flex;
  justify-content: space-evenly;
  width: 700px;
}
.header .navigation a {
  font-size: large;
  position: relative;
  text-decoration: none;
  color: black;
  transition: font-weight 0.3s ease;
}
.header .navigation a::before {
  content: "";
  position: absolute;
  top: 22px;
  height: 3px;
  width: 0%;
  transition: width 0.3s ease;
  border-radius: 35px;
  background-color: black;
}
.header .navigation a:hover {
  font-weight: 600;
}
.header .navigation a:hover::before {
  width: 100%;
}
.header .navigation .clicked::before {
  width: 100%;
  font-weight: 600;
}
.header .navigation .clicked {
  font-weight: 600;
}
.header .mobilenav {
  position: absolute;
  background-color: #ffffff;
  top: 55px;
  right: 0;
  transform: translateX(900px);
  height: 90vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  align-items: center;
  width: 100vw;
  transition: transform ease-in-out 0.6s;
  z-index: -1;
}
.header .mobilenav a {
  font-size: large;
  position: relative;
  text-decoration: none;
  color: black;
  transition: font-weight 0.3s ease;
}
.header .mobilenav a::before {
  content: "";
  position: absolute;
  top: 22px;
  height: 3px;
  width: 0%;
  transition: width 0.3s ease;
  border-radius: 35px;
  background-color: black;
}
.header .mobilenav a:hover {
  font-weight: 600;
}
.header .mobilenav a:hover::before {
  width: 100%;
}
.header .mobilenav .clicked::before {
  width: 100%;
  font-weight: 600;
}
.header .mobilenav .clicked {
  font-weight: 600;
}

.blogs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  padding: 0 10px;
  column-gap: 20px;
  margin-top: 100px;
  margin-bottom: 45px;
  align-self: center;
  transform: translateY(120px);
  opacity: 0;
  transition: transform 0.9s ease, opacity 0.9s ease;
}
.blogs .blogcard {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  width: 100%;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  border-radius: 10px;
  overflow: hidden;
}
.blogs .blogcard img {
  width: 100%;
  border-radius: 0 0 10px 10px;
  object-fit: cover;
}
.blogs .blogcard .alldes {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 12px;
}
.blogs .blogcard .alldes .date {
  font-size: 14px;
  color: rgb(178, 177, 177);
}
.blogs .blogcard .alldes .topic {
  text-decoration: none;
  color: #000000;
  font-size: 22px;
}
.blogs .blogcard .alldes .topic:hover {
  text-decoration: underline;
}
.blogs .blogcard .alldes .blog-text {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 12px;
}
.blogs .blogcard .alldes .reactions {
  display: flex;
  width: 150px;
  height: 30px;
  column-gap: 20px;
  font-weight: bold;
}
.blogs .blogcard .alldes .reactions .like {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.blogs .blogcard .alldes .reactions .like svg {
  width: 20px;
  height: 20px;
  fill: #ff3040;
}
.blogs .blogcard .alldes .reactions .comment {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.blogs .blogcard .alldes .reactions .comment svg {
  width: 20px;
  height: 20px;
}

.btn-login {
  text-decoration: none;
  background-color: black;
  border: solid black 1px;
  color: #eef1ef;
  padding: 8px 38px;
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.7s ease;
}

.btn-login:hover {
  color: black;
  background-color: white;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 0;
  justify-content: center;
}
footer a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}
footer .goto {
  display: flex;
  column-gap: 20px;
}
footer .goto svg {
  background-color: #000000;
  border-radius: 50px;
  padding: 5px;
  height: 30px;
  width: 30px;
  fill: rgb(255, 255, 255);
  transition: transform ease 0.9s;
}
footer .goto svg:hover {
  transform: scale(1.2);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 5px;
}

.header .opendrawer {
  transform: translateY(0);
}

.animatebar1 {
  animation: flipbar1 0.3s;
  animation-fill-mode: forwards;
}

.animatebar2 {
  animation: fadebar2 0.3s;
  animation-fill-mode: forwards;
}

.animatebar3 {
  animation: flipbar3 0.3s;
  animation-fill-mode: forwards;
}

@keyframes flipbar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 10px);
  }
}
@keyframes fadebar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes flipbar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}
@media all and (max-width: 780px) {
  .header {
    padding: 20px 20px;
  }
  .header .my-name {
    font-size: 22px;
  }
  .header .mobilenav {
    display: flex;
  }
  .header .navigation {
    display: none;
  }
  .header .btn-login {
    display: none;
  }
  .header .mobilenav .btn-login {
    display: block;
  }
  .header .humburger {
    display: flex;
    flex-direction: column;
    height: 25px;
    justify-content: space-between;
  }
  .header .humburger .bar1,
  .header .humburger .bar2,
  .header .humburger .bar3 {
    width: 36px;
    height: 5px;
    background-color: #000000;
    border-radius: 20px;
  }
}
@media all and (max-width: 570px) {
  .blogs .blogcard .alldes .topic {
    font-size: 18px;
  }
}
@media all and (max-width: 480px) {
  .blogs {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=blogspage.css.map */