* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", san-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.header {
  background-color: rgba(255, 255, 255, 0.526);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  z-index: 2;
}
.header .humburger {
  display: none;
}
.header .humburger:hover {
  cursor: pointer;
}
.header .navigation {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}
.header .navigation a {
  font-size: large;
  position: relative;
  text-decoration: none;
  color: black;
  transition: font-weight 0.3s ease;
}
.header .navigation a::before {
  content: "";
  position: absolute;
  top: 22px;
  height: 3px;
  width: 0%;
  transition: width 0.3s ease;
  border-radius: 35px;
  background-color: black;
}
.header .navigation a:hover {
  font-weight: 600;
}
.header .navigation a:hover::before {
  width: 100%;
}
.header .navigation .clicked::before {
  width: 100%;
  font-weight: 600;
}
.header .navigation .clicked {
  font-weight: 600;
}
.header .mobilenav {
  position: absolute;
  background-color: #ffffff;
  top: 79px;
  right: 0;
  transform: translateX(900px);
  height: 90vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  align-items: center;
  width: 100vw;
  transition: transform ease-in-out 0.6s;
  z-index: -1;
}
.header .mobilenav a {
  font-size: large;
  position: relative;
  text-decoration: none;
  color: black;
  transition: font-weight 0.3s ease;
}
.header .mobilenav a::before {
  content: "";
  position: absolute;
  top: 22px;
  height: 3px;
  width: 0%;
  transition: width 0.3s ease;
  border-radius: 35px;
  background-color: black;
}
.header .mobilenav a:hover {
  font-weight: 600;
}
.header .mobilenav a:hover::before {
  width: 100%;
}
.header .mobilenav .clicked::before {
  width: 100%;
  font-weight: 600;
}
.header .mobilenav .clicked {
  font-weight: 600;
}

.blogs {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  justify-content: flex-start;
  overflow-y: scroll;
  padding-top: 62px;
  padding-bottom: 40px;
  height: 100vh;
  align-items: center;
  width: 99%;
  margin-top: 50px;
  transform: translateY(120px);
  opacity: 0;
  transition: all 0.9s ease;
}
.blogs .blogcard {
  display: flex;
  width: 70%;
  min-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  border-radius: 10px;
  overflow: hidden;
}
.blogs .blogcard img {
  width: 50%;
  object-fit: cover;
}
.blogs .blogcard .alldes {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}
.blogs .blogcard .alldes .author {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 12px;
  background-color: whitesmoke;
  border-bottom: solid rgb(163, 162, 162) 1px;
}
.blogs .blogcard .alldes .author p {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-weight: 600;
  font-size: 18px;
}
.blogs .blogcard .alldes .author p img {
  width: 40px;
  border-radius: 50%;
  border: solid rgb(82, 80, 80) 1px;
}
.blogs .blogcard .alldes .author .options {
  display: flex;
  height: 100%;
  align-items: center;
  column-gap: 5px;
}
.blogs .blogcard .alldes .author .options .dot {
  width: 5px;
  height: 5px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}
.blogs .blogcard .alldes .commentsect {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  padding: 5px 10px;
}
.blogs .blogcard .alldes .commentsect .blogmean {
  font-size: 12px;
  font-weight: 600;
  background-color: #adadad;
  padding: 10px 12px;
  border-radius: 10px;
}
.blogs .blogcard .alldes .commentsect .comment {
  text-align: right;
  align-self: flex-end;
  max-width: 80%;
  padding: 12px;
  border-radius: 12px;
  font-size: 12px;
  background-color: rgb(240, 240, 240);
  margin-top: 20px;
}
.blogs .blogcard .alldes .rections {
  display: flex;
  flex-direction: column;
}
.blogs .blogcard .alldes .rections .like {
  display: grid;
  grid-template-columns: 7% 1fr 1fr;
  column-gap: 4px;
  width: 100%;
  padding: 12px;
}
.blogs .blogcard .alldes .rections .like a {
  height: 30px;
  border-radius: 5px;
  padding: 7px 3px;
  font-size: 9px;
  text-align: center;
}
.blogs .blogcard .alldes .rections .like svg {
  width: 20px;
  height: 20px;
  fill: white;
}
.blogs .blogcard .alldes .rections .like svg:hover {
  cursor: pointer;
}
.blogs .blogcard .alldes .rections textarea {
  height: 50px;
  background-color: whitesmoke;
  border: none;
  outline: none;
  width: 100%;
  padding-left: 10px;
  padding-top: 8px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 600;
  resize: none;
}

.btn-login {
  text-decoration: none;
  background-color: black;
  border: solid black 1px;
  color: #eef1ef;
  padding: 8px 38px;
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.7s ease;
}

.btn-login:hover {
  color: black;
  background-color: white;
}

.backtop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 150px;
  max-width: 200px;
  padding: 8px 16px;
  margin: 20px 0;
  align-self: center;
}
.backtop:hover svg {
  fill: black;
}
.backtop svg {
  fill: white;
  width: 12px;
}

footer {
  background-color: black;
  width: 100%;
  padding: 20px 10px;
  color: white;
  display: flex;
  align-items: center;
}
footer a {
  text-decoration: none;
}
footer p {
  font-weight: 600;
}
footer svg {
  height: 30px;
  width: 30px;
  fill: white;
}
footer svg a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 5px;
}

.header .opendrawer {
  transform: translateY(0);
}

.animatebar1 {
  animation: flipbar1 0.3s;
  animation-fill-mode: forwards;
}

.animatebar2 {
  animation: fadebar2 0.3s;
  animation-fill-mode: forwards;
}

.animatebar3 {
  animation: flipbar3 0.3s;
  animation-fill-mode: forwards;
}

@keyframes flipbar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 10px);
  }
}
@keyframes fadebar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes flipbar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}
@media all and (max-width: 780px) {
  .header {
    padding: 20px 20px 10px 20px;
  }
  .header .my-name {
    font-size: 22px;
  }
  .header .mobilenav {
    display: flex;
  }
  .header .navigation {
    display: none;
  }
  .header .btn-login {
    display: none;
  }
  .header .mobilenav .btn-login {
    display: block;
  }
  .header .humburger {
    display: flex;
    flex-direction: column;
    height: 25px;
    justify-content: space-between;
  }
  .header .humburger .bar1,
  .header .humburger .bar2,
  .header .humburger .bar3 {
    width: 36px;
    height: 5px;
    background-color: #000000;
    border-radius: 20px;
  }
  .blogs .blogcard {
    width: 90%;
  }
}
@media all and (max-width: 570px) {
  .blogs {
    row-gap: 30px;
  }
  .blogs .blogcard {
    min-height: 400px;
  }
  .blogs .blogcard .alldes .rections .like {
    column-gap: 10px;
  }
}
@media all and (max-width: 480px) {
  .blogs .blogcard .alldes .commentsect .blogmean {
    font-size: 10px;
  }
  .blogs .blogcard .alldes .commentsect .comment {
    font-size: 10px;
  }
  .blogs .blogcard .alldes .author p {
    column-gap: 10px;
    font-size: 12px;
  }
  .blogs .blogcard .alldes .author p img {
    width: 30px;
  }
  .blogs .blogcard .alldes .rections textarea {
    font-size: 12px;
  }
  .blogs .blogcard .alldes .rections .like {
    column-gap: 15px;
  }
  .blogs .blogcard .alldes .rections .like a {
    width: unset;
    height: unset;
    justify-self: flex-end;
  }
}/*# sourceMappingURL=blogspage.css.map */