* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", san-serif;
}

body {
  background-color: white;
}

.header {
  background-color: rgba(255, 255, 255, 0.5254901961);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  z-index: 2;
}
.header .mobilenav {
  position: absolute;
  background-color: #ffffff;
  top: 79px;
  right: 0;
  transform: translateX(900px);
  height: 90vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  align-items: center;
  width: 100vw;
  transition: transform ease-in-out 0.6s;
  z-index: -1;
}
.header .mobilenav a {
  font-size: large;
  position: relative;
  text-decoration: none;
  color: black;
  transition: font-weight 0.3s ease;
}
.header .mobilenav a::before {
  content: "";
  position: absolute;
  top: 22px;
  height: 3px;
  width: 0%;
  transition: width 0.3s ease;
  border-radius: 35px;
  background-color: black;
}
.header .mobilenav a:hover {
  font-weight: 600;
}
.header .mobilenav a:hover::before {
  width: 100%;
}
.header .mobilenav .clicked::before {
  width: 100%;
  font-weight: 600;
}
.header .mobilenav .clicked {
  font-weight: 600;
}
.header .navigation {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  width: 40%;
}
.header .navigation a {
  font-size: large;
  position: relative;
  text-decoration: none;
  color: black;
  transition: font-weight 0.3s ease;
}
.header .navigation a::before {
  content: "";
  position: absolute;
  top: 22px;
  height: 3px;
  width: 0%;
  transition: width 0.3s ease;
  border-radius: 35px;
  background-color: black;
}
.header .navigation a:hover {
  font-weight: 600;
}
.header .navigation a:hover::before {
  width: 100%;
}
.header .navigation .clicked::before {
  width: 100%;
  font-weight: 600;
}
.header .navigation .clicked {
  font-weight: 600;
}
.header .humburger {
  display: none;
}

.btn-login {
  text-decoration: none;
  background-color: black;
  border: solid black 1px;
  color: #eef1ef;
  padding: 8px 38px;
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.7s ease;
}

.btn-login:hover {
  color: black;
  background-color: white;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  height: fit-content;
  padding-top: 60px;
}
.content .profile {
  margin-top: 122px;
  width: 100%;
  justify-content: space-around;
  display: flex;
  transform: translateY(102px);
  opacity: 0;
  transition: all 1s ease-in-out;
  align-items: center;
}
.content .profile .intro {
  display: flex;
  width: fit-content;
  column-gap: 30px;
  align-items: center;
}
.content .profile .image {
  width: fit-content;
  height: 378px;
  position: relative;
}
.content .profile .image img {
  border-radius: 50%;
  width: 400px;
}
.content .profile .image::before {
  content: "";
  display: flex;
  width: 383px;
  top: -9px;
  left: -12px;
  height: 360px;
  border: solid rgb(0, 0, 0) 20px;
  border-radius: 50%;
  position: absolute;
}
.content .profile .intro .social {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.content .profile .intro .social img {
  width: 40px;
}
.content .profile .intro .social img:hover {
  animation: shake-top 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2 both;
}
.content .profile .intro .myname {
  display: flex;
  flex-direction: column;
}
.content .profile .intro .myname h1 {
  font-size: 50px;
}
.content .profile .intro .myname h6 {
  font-size: 18px;
}
.content .profile .intro .myname p {
  max-width: 453px;
  font-size: 21px;
  margin-top: 20px;
}
.content .profile .intro .myname p span {
  font-weight: bold;
}
.content .profile .intro .myname .btn-login {
  margin-top: 40px;
  max-width: 220px;
  padding: 14px 40px;
  text-align: center;
}
.content .about {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 130px;
  row-gap: 40px;
  padding: 0 100px;
}
.content .about h1 {
  font-size: 35px;
  align-self: center;
}
.content .about p {
  width: 90%;
  font-size: 21px;
}
.content .about .btn-login {
  justify-content: center;
  text-align: center;
  max-width: 80px;
}
.content .skills {
  width: 100%;
  display: flex;
  margin-top: 180px;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}
.content .skills .logs {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  width: 50%;
  justify-content: space-between;
}
.content .skills .logs .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.content .skills .logs .skill p {
  font-weight: bold;
  font-size: 18px;
}
.content .skills .logs .skill img {
  width: 60px;
  height: 60px;
}
.content .skills .logs .skill img:hover {
  animation: jello-horizontal ease 1s 2;
}
.content .skills h1 {
  font-size: 30px;
}
.content .contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 290px;
}
.content .contact form {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 20px 30px;
  width: 330px;
  height: 580px;
}
.content .contact form h1 {
  position: absolute;
  top: -50px;
  left: 0;
}
.content .contact form input {
  min-height: 50px;
  width: 100%;
  border-color: rgba(0, 0, 0, 0.445);
  outline: none;
  border-radius: 10px;
  padding-left: 12px;
  font-size: 15px;
  font-weight: 500;
}
.content .contact form input:focus {
  border: solid rgb(0, 0, 0);
}
.content .contact form input::placeholder {
  font-weight: 600;
  font-size: 15px;
}
.content .contact form label {
  font-weight: bold;
  font-size: 20px;
}
.content .contact form textarea {
  padding: 12px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  border-radius: 15px;
  height: 200px;
  resize: none;
}
.content .contact form textarea:focus {
  border: solid rgba(0, 0, 0, 0.48);
}
.content .contact form textarea::placeholder {
  font-weight: 600;
  font-size: 15px;
}
.content .contact form .btn-login {
  text-align: center;
  max-width: 205px;
  padding: 10px 50px;
  align-self: flex-end;
}
.content .contact .map {
  position: relative;
  width: 500px;
  height: 350px;
  border-radius: 10px;
  background-color: gray;
}
.content .contact .map p {
  position: absolute;
  font-weight: bold;
  top: -32px;
  font-size: 25px;
}
.content .btn-login:hover svg {
  fill: black;
}
.content .btn-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 150px;
  padding: 8px 16px;
  margin: 20px 0;
}
.content .btn-login svg {
  fill: white;
  width: 12px;
}

footer {
  background-color: black;
  width: 100%;
  padding: 20px 10px;
  color: white;
  display: flex;
  align-items: center;
  column-gap: 30px;
}
footer a {
  text-decoration: none;
}
footer p {
  font-weight: 600;
}
footer .goto {
  display: flex;
  column-gap: 10px;
}
footer .goto svg {
  height: 30px;
  width: 30px;
  fill: rgb(255, 255, 255);
}
footer .goto svg:hover {
  fill: #878f89;
  transform: scale(12px);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 2px;
}

@keyframes shake-top {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 0;
  }
  10% {
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.header .opendrawer {
  transform: translateY(0);
}

.animatebar1 {
  animation: flipbar1 0.3s;
  animation-fill-mode: forwards;
}

.animatebar2 {
  animation: fadebar2 0.3s;
  animation-fill-mode: forwards;
}

.animatebar3 {
  animation: flipbar3 0.3s;
  animation-fill-mode: forwards;
}

@keyframes flipbar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 10px);
  }
}
@keyframes fadebar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes flipbar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}
@media all and (max-width: 1073px) {
  .header .navigation {
    width: 700px;
  }
  .content .profile {
    padding: 0 40px;
  }
  .content .profile .image {
    margin-left: 20px;
    width: unset;
    height: unset;
  }
  .content .profile .image::before {
    width: 280px;
    height: 260px;
  }
  .content .profile .image img {
    width: 300px;
  }
  .content .skills .logs {
    width: 70%;
  }
  .content .about {
    padding: 0 50px;
    margin-top: 230px;
  }
  .content .contact {
    padding: 0 30px;
  }
  .content .contact .map {
    width: 50%;
  }
}
@media all and (max-width: 786px) {
  .header {
    padding: 20px 20px;
  }
  .header .navigation {
    display: none;
  }
  .header .mobilenav {
    display: flex;
  }
  .header .mobilenav .btn-login {
    display: block;
  }
  .header .btn-login {
    display: none;
  }
  .header .humburger {
    display: flex;
    flex-direction: column;
    height: 25px;
    justify-content: space-between;
  }
  .header .humburger .bar1,
  .header .humburger .bar2,
  .header .humburger .bar3 {
    width: 36px;
    height: 5px;
    background-color: #000000;
    border-radius: 20px;
  }
  .content .btn-login {
    margin-top: 31px;
  }
  .content .contact {
    flex-direction: column;
    row-gap: 70px;
  }
  .content .contact form {
    width: 330px;
  }
  .content .contact .about {
    padding: 0 40px;
  }
}
@media all and (max-width: 685px) {
  .content .profile {
    padding: 0 36px;
    display: grid;
    place-items: center;
    margin-top: 40px;
    row-gap: 10px;
  }
  .content .profile .intro .myname .btn-login {
    margin-top: 20px;
  }
  .content .profile .image {
    grid-row-start: 1;
    margin-left: unset;
  }
  .content .about {
    padding: 0 19px;
    margin-top: 130px;
  }
  .content .skills {
    margin-top: 150px;
  }
  .content .skills .logs {
    width: 80%;
  }
  .content .contact {
    margin-top: 210px;
  }
  .content .contact .map {
    width: 80%;
  }
}
@media all and (max-width: 522px) {
  .content .profile {
    padding: 0 20px;
    row-gap: 40px;
  }
  .content .profile .intro .myname p {
    font-size: 19px;
  }
  .content .profile .intro .myname h1 {
    font-size: 39px;
  }
  .content .skills .logs {
    padding: 0 22px;
  }
  .content .skills .logs .skill img {
    width: 40px;
  }
  .content .skills .logs .skill p {
    font-size: 13px;
  }
  .content .contact .map {
    width: 100%;
  }
}
@media all and (max-width: 428px) {
  .content .profile {
    padding: 0 20px;
  }
  .content .profile .intro .myname h1 {
    font-size: 35px;
  }
}
@media all and (max-width: 330px) {
  .content .about {
    padding: 0 15px;
  }
  .content .about p {
    font-size: 15px;
  }
  .content .about h1 {
    font-size: 25px;
  }
  .content .profile .image::before {
    width: 180px;
    height: 180px;
  }
  .content .profile .image img {
    width: 200px;
  }
  .content .profile .intro .myname .btn-login {
    padding: 10px 20px;
    max-width: 140px;
    font-size: 12px;
  }
  .content .profile .intro .myname p {
    font-size: 14px;
  }
  .content .profile .intro .myname h6 {
    font-size: 15px;
  }
  .content .profile .intro .myname h1 {
    font-size: 29px;
  }
}/*# sourceMappingURL=homepage.css.map */